@import url('@aymen_diva/diva-shared-navbar/dist/index.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* VARIABLES */
  --max-content-width: 1200px;
}

.sharedGrid {
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
}
.pricingGrid{
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}


